/* === Table Styles === */
.rounded-table {
    border-radius: 15px;
    overflow: hidden;
}

.rounded-table thead {
    border-radius: 15px 15px 0 0;
}

.rounded-table tbody tr:last-child {
    border-radius: 0 0 15px 15px;
}